<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
    
    <!-- 3rd party libs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/third/jquery.toast.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <!-- end 3rd party libs -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="page__body">
    <heading class="main__heading">
        <h1 class="main__heading__title">Tabela TACO - API</h1>
        {% block index %}{% endblock %}
    </heading>
    {% block main %}
    {% endblock %}
</body>
</html>