{% extends "base.html" %}

{% block title %}
    TACO API - Cadastro
{% endblock %}

{% block index %}
<a class="nav__btn btn" href="/">Voltar</a>
{% endblock %}

{% block main %}
<main class="sign-up__page">
    <div class="container">
        <form class="sign-up__form">
            <div class="sign-up__form-group">
                <label for="nome-completo" class="form__label">Nome Completo</label>
                <input class="form__field" type="text" name="user-name" id="user-name-field">
            </div>
            <div class="sign-up__form-group">
                <label for="email" class="form__label">Email</label>
                <input class="form__field" type="email" name="user-email" id="user-email-field">
            </div>
            <input class="register__btn btn" type="button" value="Cadastrar" id="btn-register">
        </form>
    </div>
</main>
<script src="{{ url_for('static', filename='js/signup.js')}}"></script>
{% endblock %}